{{!-- app/templates/e-activity.hbs --}}
{{e-header avatar=model.avatar renderHeader=model.renderHeader}}
<div class="details">
  <div class="user-info">
    <div class="channel-name">
      <span>{{model.data.channel.name}}</span>
    </div>
    <div class="title">
      {{model.data.name}}
    </div>
    <div class="user">
      <div class="user-logo">
        <img src={{model.data.creator.avatar}} alt="">
      </div>
      <div class="name-time">
        <div class="username">{{model.data.creator.username}}</div>
        <div class="time">Published {{details model.data.creator.createdAt}}</div>
      </div>
    </div>
    {{nav-link}}
  </div>
  <div class="content">
    {{outlet}}
  </div>
  <div class="user-action">
    <div class="comment-like">
      {{#link-to "details.comments"}}
        <i class="icon-comment-single"></i>
      {{/link-to}}
      <i class="icon-like-outline"></i>
    </div>
    <div class="join">
      <i class="icon-check-outline"></i>
      <span>Join</span>
    </div>
  </div>
</div>